<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="dropdown">
    <button onclick="myFunction()" class="dropbtn">Menu</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="/">Contato</a>
      <a href="projetos">Projetos</a>
      <a href="blog">Blog</a>
      <a href="getPost">getPost</a>
    </div>
  </div>
</nav>
