.calculadora {
  width: auto;
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 0;
}

.botao {
  margin-bottom: 10px;
}

.texto {
  padding-bottom: 50px;
}
