body {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.container {
  width: auto;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  flex-direction: column;
}
